<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brzhang.fllipped">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- 通过GPS得到精确位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 通过网络得到粗略位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 修改WiFi状态，发起WiFi扫描, 需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 访问网络的变化, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.LoginActivity"
            android:label="@string/title_activity_login"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PostActivity"
            android:label="发布"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".view.DetailActivity"
            android:label="详情"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.AboutActivity"
            android:label="关于"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ReportActivity"
            android:label="反馈"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="TencentMapSDK"
            android:value="SYSBZ-PIYKP-3QYDN-LD2DF-K52RV-YUFAZ" />

        <activity
            android:name=".view.MainActivity"
            android:label="@string/title_activity_new_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>